@font-face {
  font-family: NanumEB;
  src: url("../font/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face {
  font-family: NanumB;
  src: url("../font/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
  font-family: NanumL;
  src: url("../font/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
  font-family: NanumR;
  src: url("../font/NanumSquareRoundR.ttf") format("truetype");
}


@media (max-width:1200px){
  .header_nevigation{
    grid-template-columns: 20% 80%; 
  }
  .header_nevigation a{
    font-size: 20px;
  }
}

@media (max-width:768px){
  .header_nevigation{
    display: grid;
    grid-template-columns: 30% 70%;
    padding:0px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width:560px){
  .skills_info .skills_gallery li{

  }
}
@media (max-width:480px){
  .skills_info .skills_gallery li{

  }
}