* {
  box-sizing: border-box;
}
header {
  background-color: #dadada;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100px;
  top:0;
  z-index: 1000;  
}

header .lnb li {
  display: inline-block;
}

header .lnb li a {
  padding: 40px 40px 40px 40px;
  height: 100px;
  color: #333;
  font-size: 25px;
  line-height: 100px;
}

header .lnb li a  {
  position: relative;
}

header .lnb li:first-child {
  font-weight: bold;
}

header .sns {
  position: absolute;
  top: 25px;
  right: 50px;
}

header .sns li {
  display: inline-block;
  position: relative;
}

header .sns li a img {
  height: 40px;
  width: 40px;
  padding: 5px 5px;
}

header .mainimg {
  height: 100px;
  width: 125px;
  position: absolute;
  left: 0;
  top: 0;
}

.win {
  text-align: center;
}

.win .hi {
  line-height: 200px;
  position: relative;
  font-size: 45px;
  font-weight: bold;
  padding-top: 100px;
}

.win .info {
  margin: 0 auto;
  margin-top : 40px;
  padding : 25px;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: tomato;
}

.win .info img {
  width :250px;
  height:250px;
  border-radius: 10px;
}

.win .info img + img{
  margin-left: 20px;
}



